.app-container {
  direction: rtl;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-image: url("./assets/hero-section.jpg");
  height: 86vh;
  border-radius: 25px;
  width: 98%;
  margin:0 auto
}
